.inst-post {
   margin-bottom: 15px;
}

.post-meta {
   background: #fff;
   text-align: left;
   font-weight: bold;
   padding: 10px;
   border: 1px solid #ddd;

   img {
      margin-right: 10px;
   }
}

.feed_image{
   width: auto !important;
}

.post-details {
   background: #fff;
   padding: 12px;
   border: 1px solid #ddd;
}

.account-summary {
   text-align: left;
   margin-bottom: 20px;
}

.follower-suggestions {
   background: #fff;
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 4px;
}

.img-circle {
   border-radius: 50%;
}

.profile-stats {
   max-width: 360px;
   margin-bottom: 30px;
}

.profile-posts {
   margin-top: 30px;
}

.post-actions {
   margin-bottom: 20px;
   svg {
      margin-right: 5px;
      color: #ddd;
      cursor: pointer;
   }

   svg:hover {
      color: #555;
   }

   svg.active {
      color: #ff0000;
   }
}


.comment-box {
   padding: 15px;
   background: #fff;
   border: 1px solid #ddd;
}

.post-comment {
   box-shadow: none !important;
}

.commets-feed {
    height: 300px;
    overflow: scroll;
}

.comments-date {
   font-size: small;
}

.post-details .post-actions {
   border-top: 1px solid #ddd;
   padding-top: 20px;
   margin-top: 20px;
}

.post-square {
   width: 290px;
   height: 290px;
   overflow: hidden;
   background-size: cover !important;
}

.post-stats {
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.5);
   text-align: center;
   color: #fff;
   display: none;

   .inner{
      padding-top: 45%;
   }
}

.inst-post:hover {
   .post-stats {
      display: block;
   }
}