<h1 class="mt-5">Welcome to Inst</h1>

<p class="lead">Definitely not an Instagram clone :)</p>

<%= link_to "Sign Up", new_account_registration_path, class:"btn btn-secondary" %>
<%= link_to "Sign In", new_account_session_path, class:"btn btn-dark" %>